<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Список книг</title>
</head>
<body>
<div>
    <div th:each="book : ${books}" class="book">
        <div><b><a th:href="@{/books/__${book.id}__}" href="book.html" th:text="${book.title}"></a></b></div>
        <div><span>Авторы:</span><span th:each="author : ${book.authors}" style="padding: 0px 5px;"><a
                th:href="@{/authors/__${author.id}__}" href="author.html" th:text="${author.fullName}"></a></span></div>
        <div><span>Жанры:</span><span th:each="genre : ${book.genres}" style="padding: 0px 5px;"><a
                th:href="@{/genres/__${genre.id}__}" href="genre.html" th:text="${genre.name}"></a></span></div>
    </div>
</div>
</body>
</html>